<div *ngIf="movies.length === 0">
  No movies in basket.
</div>
<div *ngIf="movies.length > 0">
  <h2>Total is {{ total }} zł</h2>
  <table  class="full-width-table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Production Year</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.title }}</td>
      <td class="small-column">{{ movie.price }} zł</td>
      <td class="small-column">{{ movie.productionYear }}</td>
      <td class="small-column"><button (click)="removeFromBasket( movie.id! )">Remove from basket</button></td>
    </tr>
    </tbody>
  </table>
</div>
